@use "../abstracts/mixins" as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(var(--dark-color));
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: grid;
  grid-template-columns: minmax(5vw, auto) [center-start] minmax(auto, 98.6rem) [center-end] minmax(
      5vw,
      auto
    );
  grid-template-rows: auto 1fr [bottom-start] auto [bottom-end];

  @include responsive(largest) {
    grid-template-columns: auto [center-start] minmax(auto, 98.6rem) [center-end] auto;
  }
}

::selection {
  color: rgb(var(--light-color));
  background-color: rgb(var(--primary-color));
}
