@use "../abstracts" as *;
@use "../vendors/google" as *;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: rgb(var(--dark-color));
}

h1,
h1 > span {
  font-size: 5rem;

  @include responsive($large) {
    font-size: 4rem;
  }

  @include responsive($medium) {
    font-size: 3rem;
  }

  @include responsive($small) {
    font-size: 2rem;
  }

  &[class*='__sub'] {
    font-size: 2rem;

    @include responsive($large) {
      font-size: 1.6rem;
    }

    @include responsive($medium) {
      font-size: 1.2rem;
    }

    @include responsive($small) {
      font-size: 0.8rem;
    }
  }
}

h2,
h2 > span {
  font-size: 3rem;

  @include responsive($large) {
    font-size: 2.55rem;
  }

  @include responsive($medium) {
    font-size: 2.1rem;
  }

  @include responsive($small) {
    font-size: 1.65rem;
  }

  &[class*='__sub'] {
    font-size: 2rem;

    @include responsive($large) {
      font-size: 1.7rem;
    }

    @include responsive($medium) {
      font-size: 1.4rem;
    }

    @include responsive($small) {
      font-size: 1.1rem;
    }
  }
}

h3,
h3 > span {
  font-size: 1.6rem;

  @include responsive($large) {
    font-size: 1.8rem;
  }

  @include responsive($medium) {
    font-size: 1.6rem;
  }

  @include responsive($small) {
    font-size: 1.4rem;
  }

  &[class*='__sub'] {
    font-size: 1.6rem;

    @include responsive($large) {
      font-size: 1.4rem;
    }

    @include responsive($medium) {
      font-size: 1.2rem;
    }

    @include responsive($small) {
      font-size: 1rem;
    }
  }
}

.title {
  font-weight: 700;
  line-height: 1;

  &__sub {
    display: block;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--light-color));
    font-weight: 400;
    line-height: 0.75;
    padding-left: 3px;

    &--centered {
      text-align: center;
    }
  }
}

p {
  font-size: 1.6rem;

  @include responsive($small) {
    font-size: 1.2rem;
  }
}

p.statistic,
p > span.statistic {
  font-weight: 300;

  &--number {
    color: rgb(var(--primary-color));
    font-weight: 700;
  }
}

ul {
  font-size: 1.4rem;

  @include responsive($small) {
    font-size: 1rem;
  }

  & > li {
    &::marker {
      color: rgb(var(--primary-color));
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

li.statistic,
li > span.statistic {
  font-weight: 300;

  &--number {
    display: block;
    color: rgb(var(--primary-color));
    font-weight: 700;
  }
}

a:link,
a:visited {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.5;
  color: rgb(var(--secondary-color));
  text-decoration: none;

  @include responsive($small) {
    font-size: 1rem;
  }
}

a:hover,
a:active {
  font-weight: 700;
  color: rgb(var(--primary-color));
}
