@mixin glassmorphism($intensity) {
  background-image: linear-gradient(
    rgba(var(--light-color), $intensity),
    rgba(var(--light-color), calc(#{$intensity} + 0.3))
  );
  border: 1px solid rgba(var(--light-color), $intensity);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(black, 0.45);
  backdrop-filter: blur(#{$intensity}rem);
}

@mixin responsive($breakpoint) {
  @if $breakpoint == 'largest' {
    @media (max-width: $largest) {
      @content;
    }
  }

  @if $breakpoint == 'large' {
    @media (max-width: $large) {
      @content;
    }
  }

  @if $breakpoint == 'medium' {
    @media (max-width: $medium) {
      @content;
    }
  }

  @if $breakpoint == 'small' {
    @media (max-width: $small) {
      @content;
    }
  }
}
