:root {
  --primary-color: 191, 54, 57; //#bf3639
  --secondary-color: 254, 96, 57; //#fe6039
  --light-color: 255, 255, 255; //#fff
  --medium-color: 135, 150, 159;
  --medium-dark-color: 90, 100, 106;
  --dark-color: 45, 50, 53; //#2d3235
}

$largest: 70em;
$large: 61.625em;
$medium: 43.75em;
$small: 28.125em;
