:root {
  --primary-color: 191, 54, 57;
  --secondary-color: 254, 96, 57;
  --light-color: 255, 255, 255;
  --medium-color: 135, 150, 159;
  --medium-dark-color: 90, 100, 106;
  --dark-color: 45, 50, 53;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(var(--dark-color));
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(5vw, auto) [center-start] minmax(auto, 98.6rem) [center-end] minmax(5vw, auto);
  grid-template-rows: auto 1fr [bottom-start] auto [bottom-end];
}
@media (max-width: 70em) {
  body {
    grid-template-columns: auto [center-start] minmax(auto, 98.6rem) [center-end] auto;
  }
}

::selection {
  color: rgb(var(--light-color));
  background-color: rgb(var(--primary-color));
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: rgb(var(--dark-color));
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 5rem;
  border: 0;
  height: 5rem;
  width: 12rem;
  background-color: rgb(var(--light-color));
  outline: none;
  transition: transform 0.3s;
  backface-visibility: hidden;
}
@media (max-width: 28.125em) {
  .button {
    height: 4rem;
    width: 10rem;
  }
}
.button--control {
  color: rgb(var(--light-color));
  background-color: rgb(var(--primary-color));
}
.button--small {
  height: 2.5rem;
  width: 2.5rem;
  color: rgb(var(--secondary-color));
}
.button:active {
  transform: translateY(0.1rem) scale(0.95);
}
.button:disabled {
  color: rgb(var(--medium-color));
  background-color: rgb(var(--dark-color));
}

.grid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  display: grid;
}

.cell {
  clip-path: circle(50%);
}

.alive {
  background-color: rgb(var(--secondary-color));
}

.help {
  width: 40rem;
  height: 40rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 30;
  border-radius: 4rem;
  transition: all 0.6s ease-out;
  display: flex;
}
.help__grid-details {
  background-image: linear-gradient(rgba(var(--light-color), 0.6), rgba(var(--light-color), calc(0.6 + 0.3)));
  border: 1px solid rgba(var(--light-color), 0.6);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(0.6rem);
  width: 34%;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  padding: 2em;
  z-index: 31;
}
.help__rules {
  background-image: linear-gradient(rgba(var(--light-color), 0.3), rgba(var(--light-color), calc(0.3 + 0.3)));
  border: 1px solid rgba(var(--light-color), 0.3);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(0.3rem);
  width: 66%;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  padding: 2rem;
}
.help.hidden {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transform: scale(0.1);
  transition: all 0.3s ease-in;
}

.grid-details__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}
.grid-details__list-item {
  text-align: left;
  padding-left: 1rem;
  position: relative;
}
.grid-details__list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  height: 3.3rem;
  width: 0.5rem;
  background-color: rgb(var(--primary-color));
}
.grid-details__detail {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgb(var(--dark-color));
}
.grid-details__detail--number {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(var(--dark-color));
}

.rules__title {
  background-color: rgb(var(--primary-color));
  color: rgb(var(--light-color));
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.5;
  text-align: center;
  margin: 2rem 0;
}
.rules__links {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}
.rules__link:link, .rules__link:visited {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 0.5;
  padding: 0 1rem 0 2px;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--light-color));
  text-decoration: none;
}
.rules__header {
  width: 34%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.5;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--light-color));
  padding-left: 2px;
}
.rules__list {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(var(--dark-color));
  padding-left: 2rem;
}
.rules__list li {
  margin-top: 1rem;
}
.rules__list li::marker {
  color: rgb(var(--primary-color));
}

.control-panel {
  grid-column: center-start/center-end;
  grid-row: bottom-start/bottom-end;
  z-index: 20;
  background-image: linear-gradient(rgba(var(--light-color), 0.3), rgba(var(--light-color), calc(0.3 + 0.3)));
  border: 1px solid rgba(var(--light-color), 0.3);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(0.3rem);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding: 2rem 4rem 4rem 4rem;
  position: relative;
}
@media (max-width: 61.625em) {
  .control-panel {
    border-radius: 0;
    padding: 2rem;
  }
}
@media (max-width: 28.125em) {
  .control-panel {
    padding: 2rem 1rem;
  }
}
.control-panel__statistics {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 2rem;
}
.control-panel__text {
  display: flex;
  justify-content: space-evenly;
}
.control-panel__buttons {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.control-panel__buttons .button:not(:first-child) {
  margin-left: 2rem;
}
.control-panel__simulation {
  grid-column: 1/2;
}
@media (max-width: 61.625em) {
  .control-panel__simulation {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1rem;
  }
  .control-panel__simulation .button:not(:first-child) {
    margin-left: 0;
  }
}
@media (max-width: 43.75em) {
  .control-panel__simulation {
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
  }
}
.control-panel__initial-state {
  grid-column: 3/4;
}
@media (max-width: 61.625em) {
  .control-panel__initial-state {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 1rem;
  }
  .control-panel__initial-state .button:not(:first-child) {
    margin-left: 0;
  }
}

.statistic {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 43.75em) {
  .statistic {
    font-size: 1.6rem;
  }
}
@media (max-width: 28.125em) {
  .statistic {
    font-size: 1.4rem;
  }
}
.statistic--number {
  display: block;
  line-height: 0.5;
  text-align: left;
  width: 7rem;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--light-color));
}
@media (max-width: 43.75em) {
  .statistic--number {
    line-height: 0.4;
  }
}
@media (max-width: 43.75em) {
  .statistic--number {
    line-height: 0.35;
  }
}

.header {
  grid-column: center-start/center-end;
  display: flex;
  justify-content: center;
  z-index: 20;
  background-image: linear-gradient(rgba(var(--light-color), 0.3), rgba(var(--light-color), calc(0.3 + 0.3)));
  border: 1px solid rgba(var(--light-color), 0.3);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(0.3rem);
  width: 40rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}
@media (max-width: 61.625em) {
  .header {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    padding: 1rem;
  }
}
.header__title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 61.625em) {
  .header__title {
    text-align: center;
  }
}
@media (max-width: 43.75em) {
  .header__title {
    font-size: 4rem;
  }
}
@media (max-width: 28.125em) {
  .header__title {
    font-size: 3rem;
  }
}
.header__title--sub {
  display: block;
  width: 55%;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--light-color));
  font-size: 2rem;
  line-height: 0.5;
  padding-left: 2px;
}
@media (max-width: 61.625em) {
  .header__title--sub {
    text-align: left;
  }
}
@media (max-width: 43.75em) {
  .header__title--sub {
    font-size: 1.6rem;
  }
}
@media (max-width: 28.125em) {
  .header__title--sub {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
