:root {
  --primary-color: 191, 54, 57;
  --secondary-color: 254, 96, 57;
  --light-color: 255, 255, 255;
  --dark-color: 45, 50, 53;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: rgb(var(--dark-color));
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(5vw, auto) [center-start] minmax(auto, 98.6rem) [center-end] minmax(5vw, auto);
  grid-template-rows: auto 1fr [bottom-start] auto [bottom-end];
}
@media (max-width: 70em) {
  body {
    grid-template-columns: auto [center-start] minmax(auto, 98.6rem) [center-end] auto;
  }
}

::selection {
  color: rgb(var(--light-color));
  background-color: rgb(var(--primary-color));
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: rgb(var(--dark-color));
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 5rem;
  border: 0;
  height: 5rem;
  width: 12rem;
  background-color: rgb(var(--light-color));
  outline: none;
  transition: transform 0.3s;
  backface-visibility: hidden;
}
@media (max-width: 28.125em) {
  .button {
    height: 4rem;
    width: 10rem;
  }
}
.button--active {
  color: rgb(var(--light-color));
  background-color: rgb(var(--primary-color));
}
.button--inactive {
  color: rgb(var(--light-color));
  background-color: rgb(var(--dark-color));
}
.button--small {
  height: 2.5rem;
  width: 2.5rem;
  color: rgb(var(--secondary-color));
}
.button:active {
  transform: translateY(0.1rem) scale(0.95);
}

.grid-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  display: grid;
  grid-gap: 0.4rem;
}
@media (max-width: 61.625em) {
  .grid-container {
    grid-gap: 0.2rem;
  }
}

.cell {
  clip-path: circle(50%);
}

.alive {
  background-color: rgb(var(--secondary-color));
}

.rules {
  background-color: rgba(var(--light-color), 0.45);
  border: 1px solid rgba(var(--light-color), 0.15);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(0.45rem);
  width: 30rem;
  height: 40rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  padding: 1rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.rules__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 1rem;
}
.rules__link:link, .rules__link:visited {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;
  color: rgb(var(--secondary-color));
  text-decoration: none;
  margin-bottom: 2rem;
  margin-right: 1.4rem;
}
.rules__header {
  font-size: 2rem;
  font-weight: 700;
}
.rules__list {
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 1.5rem;
}
.rules__list li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.rules.hidden {
  display: none;
  opacity: 0;
}

.control-panel {
  grid-column: center-start/center-end;
  grid-row: bottom-start/bottom-end;
  background-color: rgba(var(--light-color), 0.45);
  border: 1px solid rgba(var(--light-color), 0.15);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(0.45rem);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding: 2rem 4rem 4rem 4rem;
  position: relative;
}
@media (max-width: 61.625em) {
  .control-panel {
    border-radius: 0;
    padding: 2rem;
  }
}
@media (max-width: 28.125em) {
  .control-panel {
    padding: 2rem 1rem;
  }
}
.control-panel__statistics {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 2rem;
}
.control-panel__text {
  display: flex;
  justify-content: space-evenly;
}
.control-panel__buttons {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.control-panel__buttons .button:not(:first-child) {
  margin-left: 2rem;
}
.control-panel__simulation {
  grid-column: 1/2;
}
@media (max-width: 61.625em) {
  .control-panel__simulation {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 1rem;
  }
  .control-panel__simulation .button:not(:first-child) {
    margin-left: 0;
  }
}
@media (max-width: 43.75em) {
  .control-panel__simulation {
    grid-template-columns: max-content;
    grid-template-rows: repeat(2, max-content);
  }
}
.control-panel__initial-state {
  grid-column: 3/4;
}
@media (max-width: 61.625em) {
  .control-panel__initial-state {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 1rem;
  }
  .control-panel__initial-state .button:not(:first-child) {
    margin-left: 0;
  }
}

.statistic {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.statistic--number {
  display: block;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--light-color));
}
@media (max-width: 61.625em) {
  .statistic--number {
    display: initial;
    margin-right: 1rem;
  }
}
@media (max-width: 43.75em) {
  .statistic {
    font-size: 1.6rem;
  }
}
@media (max-width: 28.125em) {
  .statistic {
    font-size: 1.4rem;
  }
}

.header {
  grid-column: center-start/center-end;
  background-color: rgba(var(--light-color), 0.45);
  border: 1px solid rgba(var(--light-color), 0.15);
  box-shadow: 0 0.5rem 3.5rem 1.75rem rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(0.45rem);
  width: 40rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}
@media (max-width: 61.625em) {
  .header {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    padding: 1rem;
  }
}
.header__title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 61.625em) {
  .header__title {
    text-align: center;
  }
}
@media (max-width: 43.75em) {
  .header__title {
    font-size: 4rem;
  }
}
@media (max-width: 28.125em) {
  .header__title {
    font-size: 3rem;
  }
}
.header__title--sub {
  display: block;
  width: 55%;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--light-color));
  font-size: 2rem;
  line-height: 0.5;
}
@media (max-width: 61.625em) {
  .header__title--sub {
    width: 100%;
  }
}
@media (max-width: 43.75em) {
  .header__title--sub {
    font-size: 1.6rem;
  }
}
@media (max-width: 28.125em) {
  .header__title--sub {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
