.grid-container {
  height: 120%;
  width: 120%;
  position: absolute;
  z-index: -1;
  overflow: hidden;

  display: grid;
  grid-gap: 0.4rem;
}

.cell {
  border-radius: 10rem;
}

.alive {
  background-color: rgb(var(--secondary-color));
}
