@use "../abstracts" as *;

.control-panel {
  grid-column: center-start / center-end;
  grid-row: bottom-start / bottom-end;

  z-index: 20;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  position: relative;

  @include responsive(large) {
    border-radius: 0;
  }

  &__simulation-statistics {
    @include glassmorphism(0.6);
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding: 1rem 4rem;

    display: flex;
    justify-content: space-between;

    & button:not(:first-of-type) {
      margin-left: 1rem;
    }

    @include responsive(large) {
      border-radius: 0;
    }

    @include responsive(medium) {
      padding: 0.5rem 2rem;
    }
  }

  &__buttons {
    @include glassmorphism(0.3);
    padding: 2rem 4rem;
    position: relative;
    z-index: -1;

    display: grid;
    grid-template-columns: auto 1fr auto;

    @include responsive(medium) {
      padding: 1rem 2rem;
    }

    @include responsive(small) {
      padding: 1rem 1rem;
    }

    & .button:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__simulation-controls {
    grid-column: 1 / 2;

    @include responsive(large) {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-gap: 1rem;

      & .button:not(:first-child) {
        margin-left: 0;
      }
    }

    @include responsive(medium) {
      grid-template-columns: max-content;
      grid-template-rows: repeat(2, max-content);
    }
  }

  &__initial-state-controls {
    grid-column: 3 / 4;

    @include responsive(large) {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      grid-gap: 1rem;

      & .button:not(:first-child) {
        margin-left: 0;
      }
    }

    @include responsive(medium) {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      grid-column-gap: 2rem;
    }

    @include responsive(small) {
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      grid-column-gap: 1rem;
    }
  }
}

.simulation-statistics {
  &__text {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;

    & .statistic {
      &:not(:first-child) {
        margin-left: 4rem;

        @include responsive(small) {
          margin-left: 2rem;
        }
      }

      &--number {
        margin-left: 2rem;

        @include responsive(small) {
          margin-left: 1rem;
        }
      }
    }
  }
}
