.control-panel {
  grid-column: center-start / center-end;
  grid-row: bottom-start / bottom-end;
  z-index: 20;

  @include glassmorphism(0.3);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding: 2rem 4rem 4rem 4rem;
  position: relative;

  @include responsive(large) {
    border-radius: 0;
    padding: 2rem;
  }

  @include responsive(small) {
    padding: 2rem 1rem;
  }

  &__statistics {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 2rem;
  }

  &__text {
    display: flex;
    justify-content: space-evenly;
  }

  &__buttons {
    display: grid;
    grid-template-columns: auto 1fr auto;

    & .button:not(:first-child) {
      margin-left: 2rem;
    }
  }

  &__simulation {
    grid-column: 1 / 2;

    @include responsive(large) {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-gap: 1rem;

      & .button:not(:first-child) {
        margin-left: 0;
      }
    }

    @include responsive(medium) {
      grid-template-columns: max-content;
      grid-template-rows: repeat(2, max-content);
    }
  }

  &__initial-state {
    grid-column: 3 / 4;

    @include responsive(large) {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      grid-gap: 1rem;

      & .button:not(:first-child) {
        margin-left: 0;
      }
    }
  }
}

.statistic {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;

  @include responsive(medium) {
    font-size: 1.6rem;
  }

  @include responsive(small) {
    font-size: 1.4rem;
  }

  &--number {
    display: block;
    line-height: 0.5;
    text-align: left;
    width: 7rem;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--light-color));

    @include responsive(medium) {
      line-height: 0.4;
    }

    @include responsive(medium) {
      line-height: 0.35;
    }
  }
}
