@use '../abstracts' as *;

.grid-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow: hidden;
}

.cell {
  clip-path: circle(50%);
}

.alive {
  background-color: rgb(var(--secondary-color));
}
