@use "../abstracts/mixins";

.options {
  @include mixins.glassmorphism(0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  padding: 2rem 4rem;
  z-index: 30;
  transition: all 0.2s ease-out;

  @include mixins.responsive(small) {
    transform: translate(-50%, -70%);
    padding: 1.5rem;
  }

  &__option {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;

    & .button:not(:first-of-type) {
      margin-left: 3rem;

      @include mixins.responsive(small) {
        margin-left: 0.5rem;
      }
    }
  }
}
