<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A cellular automata simulation written in Javascript emulating John Horton Conway's, Game of Life." />
    <link rel="canonical" href="https://mofunkles-gameoflife.netlify.app/" />
    <link rel="preload" as="font" type="font/woff2" href="<%= require('./fonts/poppins-v15-latin-300.woff2') %>" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="<%= require('./fonts/poppins-v15-latin-regular.woff2') %>" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="<%= require('./fonts/poppins-v15-latin-500.woff2') %>" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="<%= require('./fonts/poppins-v15-latin-700.woff2') %>" crossorigin />
    <%= htmlWebpackPlugin.tags.headTags[1] %> <%= htmlWebpackPlugin.tags.headTags[0] %>
    <title>Conway's Game of Life - Cellular Automata in Javascript</title>
  </head>

  <body>
    <header class="header">
      <h1 class="title"><span class="title title__sub">Conway's</span>Game of Life</h1>
    </header>

    <canvas class="grid-canvas">Canvas Unsupported! :(</canvas>

    <section class="options hidden">
      <h2 class="title__sub title__sub--centered">Configuration</h2>
      <div class="options__option">
        <h3 class="title">Grid Size</h3>
        <div class="options__buttons">
          <button class="button button--grid-size" data-button="small">Small</button>
          <button class="button button--grid-size" data-button="medium" disabled>Medium</button>
          <button class="button button--grid-size" data-button="large">Large</button>
        </div>
      </div>
    </section>

    <section class="help hidden">
      <div class="help__grid-statistics">
        <ul class="grid-statistics__list">
          <li class="statistic"><span class="statistic statistic--number gridheight-number">9999</span>Grid Height</li>
          <li class="statistic"><span class="statistic statistic--number gridwidth-number">9999</span>Grid Width</li>
          <li class="statistic"><span class="statistic statistic--number cellcount-number">9999</span>Cell Count</li>
          <li class="statistic"><span class="statistic statistic--number cellsize-number">9999</span>Cell Size</li>
        </ul>
      </div>

      <div class="help__information">
        <h2 class="title__sub title__sub--centered">Find Out More</h2>
        <div class="information__links">
          <a class="information-link" href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank" rel="noopener noreferrer">📑 WIKI</a>
          <a class="information-link" href="https://github.com/Mofunkles/game-of-life" target="_blank" rel="noopener noreferrer">🔧 GITHUB</a>
        </div>
        <h3 class="title">Rules</h3>
        <ul class="information__list">
          <li>Any live cell with fewer than two live neighbours dies.</li>
          <li>Any live cell with two or three live neighbours lives.</li>
          <li>Any live cell with more than three live neighbours dies.</li>
          <li>Any dead cell with exactly three live neighbours becomes a live cell.</li>
        </ul>
      </div>
    </section>

    <footer class="control-panel">
      <div class="control-panel__simulation-statistics">
        <div class="simulation-statistics__text">
          <p class="statistic">Generations<span class="statistic statistic--number generations-number">9999</span></p>
          <p class="statistic">Live Cells<span class="statistic statistic--number livecells-number">9999</span></p>
        </div>
        <button class="button button--small" data-button="options">C</button>
        <button class="button button--small" data-button="help">?</button>
      </div>

      <div class="control-panel__buttons">
        <div class="control-panel__simulation-controls">
          <button class="button button--control button-start" data-button="start">Start</button>
          <button class="button button--control button-stop" data-button="stop" disabled>Stop</button>
        </div>
        <div class="control-panel__initial-state-controls">
          <button class="button button--initial" data-button="random">Random</button>
          <button class="button button--initial" data-button="line">The Line</button>
          <button class="button button--initial" data-button="bunnies">Bunnies</button>
          <button class="button button--initial" data-button="gosper">Glider Gun</button>
        </div>
      </div>
    </footer>
  </body>
</html>
